.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: slategrey;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  text-align: center;
  color: whitesmoke;
}
